.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 20vh;
}
.project .title {
    width: 90%;
    font-size: 40px;
    font-weight: 600;
    margin: 20px;
}
.project .content {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project .project-list {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2em;
    padding-bottom: 30px;
}

.project .project-list-item {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: transform 300ms ease 100ms;
}
.project .project .project-list-item.active {
    position: fixed;
    top: 0px;
}
.project .project-list-item:hover {
    transform: scale(1.02);
}
.project .project-list-item .project-description {
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.636);
    backdrop-filter: blur(4px);
    line-height: 1;
    height: 15%;
    transition: height 0.5s ease-in-out;
}
.project .project-list-item:hover .project-description {
    height: 100%;
    overflow: hidden;
}

.project .project-list-item .project-description .project-detail {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition-delay: 0.5s;
    transition: height 1s ease-in-out;
    transition: opacity 1.5s ease-in-out;

}
.project .project-list-item:hover .project-description .project-detail {
    height: 100%;
    opacity: 1;
}
.project .project-list-item .project-description .project-title {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: height 0.5s ease-in-out;

}
.project .project-list-item:hover .project-description .project-title {
    height: 20%;
}
.project .project-list-item .skills {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    padding: 10px;
}
.project .project-list-item .project-description .text {
    font-size: 15px;
    font-weight: 400;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 2;
}

.project .project-list-item img {
    width: 100%;
    height: 100%;
}
.project .project-list-item .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .project-list-item .link {
    text-decoration: none;
    color: var(--dark);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
    text-decoration:underline;

    text-underline-offset: 2px;
    text-decoration-color: transparent;
    text-decoration-thickness: 5px;
}
.project .project-list-item .link:hover {
    text-decoration-color: var(--neon);
}


@media only screen and (max-width: 1200px) {
    .project .content {
        max-width: 60vw;
    }
    .project .project-list {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 900px) {
    .project {
        padding-top: 0vh;
    }
    .project .content {
        max-width: 70vw;
    }
}
@media only screen and (max-width: 600px) {
    .project .content {
        max-width: 90vw;
    }
    .project .project-list-item .project-description .text {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.7;
    }
    .project .project-list-item .project-description .project-title {
        font-size: 18px;
        font-weight: 600;
    }
    .project .project-list-item .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 2px;
        margin-top: 5px;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;

    }
}
@media only screen and (max-width: 400px) {
    .project .project-list-item .project-description .text {
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.4;
    }
}