.icon {
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: var(--shadow);
}