@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --background: rgb(241, 241, 241);
    --neon: #dcff6a;
    --dark: rgb(46, 46, 46);
}
 html, body {

padding: 0;

margin: 0;

} 
.App {

    font-family: 'DM Sans', 'Helvetica';
    color: var(--dark);
    background-color: var(--background);
}
.dot {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgb(220, 221, 222) 1px, transparent 1px);
    background-size: 16px 16px;
}