@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
      font-family: 'Classma'; /* Choose a name for your font */
      src: local('Classma'), url('./fonts/Classma.otf') format('opentype');
      /* Add other formats if available */
      font-weight: normal; /* Specify font weight */
      font-style: normal;  /* Specify font style */
}

:root {
    --background: rgb(241, 241, 241);
    --neon: #dcff6a;
    --dark: rgb(46, 46, 46);
}
 html, body {
    padding: 0;
    margin: 0 auto;
} 
.App {
    font-family: 'DM Sans', 'Helvetica';
    color: var(--dark);
    background-color: var(--background);
}
.contents {
    opacity: 0;
    transition: 0.5s ease-in;
}
.contents.active {
    opacity: 1;
}
.dot {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgb(220, 221, 222) 1px, transparent 1px);
    background-size: 16px 16px;
    background-attachment: fixed;
}